@{
    ViewData["Title"] = "Home Page";
}
@using QuotingDojo.Models;

<div class="text-center">
    <div class="card card-primary">
        <div class="card-title">
            <h1>Welcome to Quoting Dojo</h1>
        </div>
        <div class="card-body">
            @model Quote
            <form>
                <div class="row m-1 p-1">
                    <span asp-validation-for="UserName"></span>
                    <label asp-for="UserName" class="col-2 mr-1"></label>
                    <input asp-for="UserName" placeholder="   Name...">
                </div>
                <div class="row input-group input-group-large m-1 p-1">
                    <span asp-validation-for="QuoteStatement"></span>
                    <label asp-for="QuoteStatement" class="col-2 mr-1"></label>
                    <textarea asp-for="QuoteStatement" rows="8" class="col-8 m-1 p-1" placeholder="Quoting......"></textarea>
                </div>
                <div class="row">
                    <button formaction="AddQuote" type="submit" class="btn btn-primary btn-lg" name="add" value="add" formmethod="post">Add my quote!</button>
                    <div class="col-5"></div>
                    <button formaction="SkipQuotes" type="submit" class="btn btn-success btn-lg" name="skip" value="skip" formmethod="post">Skip to quotes!</button>
                </div>
            </form>
        </div>
    </div>
</div>
