@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <div class="card card-primary">
        <div class="card-title">
            <h1>Wlecome to Quoting Dojo</h1>
        </div>
        <div class="card-body">
            <form asp-controller="Home" asp-action="ProcessQuote" method="post">



                <div class="car-footer">

                </div>  
            </form>
        </div>
    </div>
</div>
