@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <div class="card card-primary">
        <div class="card-title">
            <h1>Wlecome to Quoting Dojo</h1>
        </div>
        <div class="card-body">
            @model Quote
            <form asp-controller="Home" asp-action="ProcessQuote" method="post">
                <span asp-validation-for="Username"></span>
                <label asp-for="Username"></label>
                <input asp-for="Username">


                <div class="car-footer">
                    <div class="btn-group">
                        <input type="button" class="btn btn-primary" name="add_quote" value="add">
                        <input type="button" class="btn btn-success" name="skip_quotes" value="skip">
                    </div>
                </div>  
            </form>
        </div>
    </div>
</div>
