@{
    ViewData["Title"] = "Quotes";
}
@using QuotingDojo.Models;

<div class="text-center">
    <div class="card card-primary">
        <div class="card-title">
            <h1>Here are the awesome quotes!</h1>
        </div>
        <div class="card-body">
            <div class="list-group">
            
            </div>
        </div>
    </div>
</div>
