@{
    ViewData["Title"] = "Home Page";
}


<div class="card border-primary mb-10 px-2 rounded text-center">
    <div class="card-body">
        <h4 class="text-primary">Random passcode (passcode # @ViewBag.Count)</h4>
        <div class="form-row align-items-center p-2">
            <div class="col-4"></div>
            <h1 class="card-text"><div class="badge badge-pill badge-success mb-10 p-4">@ViewBag.Code</div> </h1>
        </div>
        <div class="form-row align-items-center mt10 mb-10 p-4">
        <div class="col-5"></div>
            <a href="/Generate" class="btn btn-primary">Generate</a>
        </div>
    </div>
</div>

