@{
    ViewData["Title"] = "Result";
}

<div class="text-center">
    <div class="card text-white bg-success mb-3 rounded">
        <h1 class="display-4">Successfully Registered!</h1>
    </div>
</div>