@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron bg-primary text-white">
        <H1>Lost In The Woods </H1>
        <p>List of Hiking Trails near Seattle</p>
    </div>
    <div class="card">
        <div class="d-flex mb-3">
            <table class="table table-striped table-bordered text-white ">
                <thead class="bg-primary">
                    <th scope="col" class="p-2 bd-highlight w-35  font-weight-bolder">Trail Name</th>
                    <th class="p-2 bd-highlight w-15 font-weight-bolder">Length</th>
                    <th class="p-2 bd-highlight w-15 font-weight-bolder">Elevation</th>
                    <th class="p-2 bd-highlight w-15 font-weight-bolder">Max Elevation</th>
                    <th class="p-2 bd-highlight w-20 font-weight-bolder">Updated At</th>
                </thead>
                <tbody class="text-primary">                    
                    <tr>
                        <th scope="row">Chelan Butte</th>
                        <td >Mark</td>
                        <td >Otto</td>                    
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>
