@{
    ViewData["Title"] = "Home Page";
}
@{
    var location = ViewBag.location;
    var language = ViewBag.language;
}
<div class="row">
    <div class="col-2"></div>    
    <div class="card border-primary mb-4 col-6" >                
        <div class="card-body">
                            
            @model DojoComment
            <form class=" border border-light p-5" asp-controller="Home" asp-action="ProcessComment" method="POST">

                <p class="h4 mb-4 text-center">Dojo Survey Index</p>

                <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" class="form-control mb-4" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name" class="badge badge-danger"></span>
                </div>
                
                <div class="form-group">
                <label asp-for="DojoLocation">Dojo Location</label>
                <select class="browser-default custom-select mb-4" asp-for="DojoLocation">
                    @{
                        <option value=""></option>
                        foreach(string city in location){                            
                            <option value="@city" >@city</option>                            
                        }
                    }
                </select>
                <span asp-validation-for="DojoLocation" class="badge badge-danger"></span>
                </div>
                
                <div class="form-group">
                <label asp-for="FavoriteLanguage">Favorite Language</label>
                <select class="browser-default custom-select mb-4" asp-for="FavoriteLanguage">
                    @{
                        <option value=""></option>
                        foreach(string favLanguage in language){                            
                            <option value="@favLanguage" >@favLanguage</option>                            
                        }
                    }
                </select>
                <span asp-validation-for="FavoriteLanguage" class="badge badge-danger"></span>
                </div>
                
                <div class="form-group">
                    <label class="justified" asp-for="Comment">Comment (Optional):</label><span asp-validation-for="Comment" class="badge badge-pill badge-danger"></span>
                    <textarea class="form-control rounded-0" asp-for="Comment" rows="5" >
                    </textarea>
                </div>
                
                <div class="form-group">
                <button class="btn btn-info btn-block col-2 " type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>    
</div>
